@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 13px;
}
#header4-9 H1 {
  text-align: right;
}
#header4-9 P {
  color: #553982;
  font-family: 'Montserrat', sans-serif;
}
#header4-9 B {
  font-size: 24px;
  color: #ffffff;
}
#msg-box4-a .mbr-header__text {
  color: #4c6972;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
}
#msg-box4-a .mbr-article P {
  color: #4c6972;
}
#msg-box4-d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-d .mbr-article {
  color: #ffffff;
}
#msg-box4-h .mbr-header__text {
  color: #7c706b;
}
#msg-box4-h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-h .mbr-article {
  color: #ffffff;
}
#msg-box4-h .mbr-article UL {
  text-align: center;
}
#msg-box4-h .mbr-article P {
  color: #7c706b;
}
#msg-box4-i .mbr-header__text {
  color: #28324e;
}
#msg-box4-i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-i .mbr-article {
  color: #ffffff;
}
#msg-box4-i .mbr-article P {
  color: #28324e;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#testimonials1-k .mbr-reviews__author-name SPAN {
  font-size: 12px;
}
#content4-o P {
  color: #ffffff;
}
#content4-o .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-o .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__text {
  color: #28324e;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-article P {
  color: #28324e;
}
#msg-box2-t .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-t .mbr-article {
  color: #252525;
}
#social-buttons1-q .mbr-header__text {
  color: #ffffff;
  font-size: 14px;
}
